<%= form_for(@launch_survey) do |f| %>
  <% if @launch_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@launch_survey.errors.count, "error") %> prohibited this launch_survey from being saved:</h2>

      <ul>
      <% @launch_survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
