<p><strong>Company Type: </strong>Software Product Company</p>
<p><strong>Complementary Company: </strong>Integrated with iMIS</p>
<p><strong>Executive Team: </strong>Key Leaders Together for 3+ Years</p>
<p><strong>Headcount: </strong>Number of Full-Time Employees &lt; 100</p>
<p><strong>Development Environment: </strong>Microsoft .NET-SQL Server or LAMP</p>
<p><strong>Financial Statements: </strong>Audited or Reviewed</p>
<p><strong>Pricing Model: </strong>SaaS Subscription or License/Product Maintenance</p>
<p><strong>Revenue: </strong>EOY Revenue Dollars $250K - $2M</p>
<p><strong>EBITDA: </strong>EOY EBITDA Dollars $10K+</p>
<p><strong>Liquid Assets: </strong>Cash on Hand &gt; $10K</p>
<p><strong>Revenue Mix: </strong>EOY Product-to-Service Ratio &gt; 50%/50%</p>
<p><strong>Recurring Revenue: </strong>EOY Recurring Revenue Percent &gt; 60%</p>
<p><strong>Organic Growth: </strong>Last Three Years Organic Growth Percentage Average &gt; 10%</p>
<p><strong>Headquarters Office Location: </strong>USA East Coast</p>
<p><strong>Ownership: </strong>Privately Held Corporation with No Institutional Investors</p>
<p><strong>Years in Business: </strong>&gt; 5 Years</p>
<p><strong>Legal Status: </strong>Private C-Corporation, S-Corporation, or LLC</p>
<p><strong>Sector/Industry Leadership: </strong>Market Share Leader in Number of Customers</p>
<p><strong>Niche: </strong>Primary Customer Base is Not-For-Profit (NFP) Sector</p>
<p><strong>Customer Locations: </strong>Base in USA</p>
<%= tag("br", nil, true) %>
<%= link_to "Preliminary Due Diligence", "/demo/prelim-dd" %>