<p>Use excel KPI data</p>
<p>Form to set values on Valuation Adjustment Range</p>

<h3>Enterprise Wide Buyer Scorecard</h3>
<table class="horizontal_minimal" summary="Enterprise Wide Buyer Scorecard">
	<thread>
		<tr>
			<th scope="col">Appraisal Categories</th>
			<th scope="col">Category Score</th>
			<th scope="col">Category Grade</th>
			<th scope="col">Category Weight</th>
			<th scope="col">Weighted Category Score</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Human Resources</td>
			<td>85.25</td>
			<td>B</td>
			<td>10%</td>
			<td>8.53</td>
		</tr>
		<tr>
			<td>Machine Resources</td>
			<td>88.50</td>
			<td>B</td>
			<td>5%</td>
			<td>4.43</td>
		</tr>
		<tr>
			<td>Information Resources</td>
			<td>77.75</td>
			<td>C</td>
			<td>5%</td>
			<td>3.89</td>
		</tr>
		<tr>
			<td>Financial Resources</td>
			<td>93.00</td>
			<td>A</td>
			<td>10%</td>
			<td>9.30</td>
		</tr>
		<tr>
			<td>Intellectual Property Resources</td>
			<td>88.25</td>
			<td>B</td>
			<td>10%</td>
			<td>8.83</td>
		</tr>
		<tr>
			<td>Facility Resources</td>
			<td>90.00</td>
			<td>A</td>
			<td>5%</td>
			<td>4.50</td>
		</tr>
		<tr><td colspan="5"><strong>Subtotals</strong></td></tr>
		<tr>
			<td>Board of Directors &amp; Advisors Interface</td>
			<td>59.25</td>
			<td>D</td>
			<td>5%</td>
			<td>2.96</td>
		</tr>
		<tr>
			<td>Shareholders Interface</td>
			<td>85.00</td>
			<td>B</td>
			<td>5%</td>
			<td>4.25</td>
		</tr>
		<tr>
			<td>Legal &amp; Regulatory Authorities Interface</td>
			<td>89.00</td>
			<td>B</td>
			<td>5%</td>
			<td>4.45</td>
		</tr>
		<tr>
			<td>Supply Chain Interface</td>
			<td>92.00</td>
			<td>A</td>
			<td>5%</td>
			<td>4.60</td>
		</tr>
		<tr>
			<td>Competitors Interface</td>
			<td>85.00</td>
			<td>B</td>
			<td>5%</td>
			<td>8.50</td>
		</tr>
		<tr>
			<td>Prospects Interface</td>
			<td>87.50</td>
			<td>B</td>
			<td>10%</td>
			<td>4.38</td>
		</tr>
		<tr>
			<td>Channel Interface</td>
			<td>93.00</td>
			<td>A</td>
			<td>5%</td>
			<td>4.65</td>
		</tr>
		<tr>
			<td>Customers Interface</td>
			<td>91.00</td>
			<td>A</td>
			<td>15%</td>
			<td>13.65</td>
		</tr>
		<tr><td colspan="5"><strong>Subtotals</strong></td></tr>
		<tr><td colspan="5"><strong>Total</strong></td></tr>
	</tbody>
</table>

<%= tag("br", nil, true) %>

<h3>Human Resources Buyer Scorecard</h3>
<table class="horizontal_minimal" summary="Human Resources Buyer Scorecard">
	<thread>
		<tr>
			<th scope="col">Appraisal Factors</th>
			<th scope="col">Factor Weight</th>
			<th scope="col">Factor Rating</th>
			<th scope="col">Factor Grade</th>
			<th scope="col">Factor Score</th>
			<th scope="col">Weighted Factor Score</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Factor 1</td>
			<td>15%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>12.75</td>
		</tr>
		<tr>
			<td>Factor 2</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 3</td>
			<td>5%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>4.25</td>
		</tr>
		<tr>
			<td>Factor 4</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 5</td>
			<td>5%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>4.25</td>
		</tr>
		<tr>
			<td>Factor 6</td>
			<td>5%</td>
			<td>1</td>
			<td>C</td>
			<td>75</td>
			<td>3.75</td>
		</tr>
		<tr>
			<td>Factor 7</td>
			<td>5%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>4.25</td>
		</tr>
		<tr>
			<td>Factor 8</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 9</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 10</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 11</td>
			<td>N/A</td>
			<td>N/A</td>
			<td>N/A</td>
			<td>N/A</td>
			<td>N/A</td>
		</tr>
		<tr>
			<td>Factor 12</td>
			<td>N/A</td>
			<td>N/A</td>
			<td>N/A</td>
			<td>N/A</td>
			<td>N/A</td>
		</tr>
		<tr>
			<td>Factor 13</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 14</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 15</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 16</td>
			<td>5%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>4.25</td>
		</tr>
		<tr>
			<td>Factor 17</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr>
			<td>Factor 18</td>
			<td>5%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>4.25</td>
		</tr>
		<tr>
			<td>Factor 19</td>
			<td>5%</td>
			<td>0</td>
			<td>F</td>
			<td>0</td>
			<td>0.00</td>
		</tr>
		<tr>
			<td>Factor 20</td>
			<td>5%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>4.75</td>
		</tr>
		<tr><td colspan="6"><strong>Total</strong></td></tr>
	</tbody>
</table>

<%= tag("br", nil, true) %>

<h3>Customers Interface Buyer Scorecard</h3>
<table class="horizontal_minimal" summary="Customers Interface Buyer Scorecard">
	<thread>
		<tr>
			<th scope="col">Appraisal Factors</th>
			<th scope="col">Factor Weight</th>
			<th scope="col">Factor Rating</th>
			<th scope="col">Factor Grade</th>
			<th scope="col">Factor Score</th>
			<th scope="col">Weighted Factor Score</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Factor 1</td>
			<td>10%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>9.50</td>
		</tr>
		<tr>
			<td>Factor 2</td>
			<td>10%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>9.50</td>
		</tr>
		<tr>
			<td>Factor 3</td>
			<td>10%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>9.50</td>
		</tr>
		<tr>
			<td>Factor 4</td>
			<td>10%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>8.50</td>
		</tr>
		<tr>
			<td>Factor 5</td>
			<td>10%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>8.50</td>
		</tr>
		<tr>
			<td>Factor 6</td>
			<td>10%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>9.50</td>
		</tr>
		<tr>
			<td>Factor 7</td>
			<td>10%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>8.50</td>
		</tr>
		<tr>
			<td>Factor 8</td>
			<td>10%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>9.50</td>
		</tr>
		<tr>
			<td>Factor 9</td>
			<td>10%</td>
			<td>2</td>
			<td>B</td>
			<td>85</td>
			<td>8.50</td>
		</tr>
		<tr>
			<td>Factor 10</td>
			<td>10%</td>
			<td>3</td>
			<td>A</td>
			<td>95</td>
			<td>9.50</td>
		</tr>
		<tr><td colspan="6"><strong>Total</strong></td></tr>
	</tbody>
</table>

<%= tag("br", nil, true) %>

<h3>Valuation Adjustment Range</h3>
<table class="horizontal_minimal" summary="Valuation Adjustment Range">
	<thread>
		<tr>
			<th scope="col">Buyer Appraisal Categories</th>
			<th scope="col">Category Score</th>
			<th scope="col">Category Grade</th>
			<th scope="col">Category Weight</th>
			<th scope="col">Baseline Valuation</th>
			<th scope="col">Min Qual/Risk Adjust</th>
			<th scope="col">Max Qual/Risk Adjust</th>
			<th scope="col">Min Valuation</th>
			<th scope="col">Max Valuation</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Human Resources (Staff)</td>
			<td>85.25</td>
			<td>B</td>
			<td>10%</td>
			<td>$100,000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$105,000</td>
			<td>$110,000</td>
		</tr>
		<tr>
			<td>Machine Resources (Tools)</td>
			<td>88.50</td>
			<td>B</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$52,500</td>
			<td>$55,000</td>
		</tr>
		<tr>
			<td>Information Resources (Knowlege Base)</td>
			<td>77.75</td>
			<td>C</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>-%10</td>
			<td>-%5</td>
			<td>$45,000</td>
			<td>$47,500</td>
		</tr>
		<tr>
			<td>Financial Resources (Capital)</td>
			<td>93.00</td>
			<td>A</td>
			<td>10%</td>
			<td>$100,000</td>
			<td>10%</td>
			<td>20%</td>
			<td>$110,000</td>
			<td>$120,000</td>
		</tr>
		<tr>
			<td>Intellectual Property Resources (Proprietary Inventions)</td>
			<td>88.25</td>
			<td>B</td>
			<td>10%</td>
			<td>$100,000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$105,000</td>
			<td>$110,000</td>
		</tr>
		<tr>
			<td>Facility Resources (Sites)</td>
			<td>90.00</td>
			<td>A</td>
			<td>5%</td>
			<td>50,000</td>
			<td>10%</td>
			<td>20%</td>
			<td>$55,000</td>
			<td>$60,000</td>
		</tr>
		<tr><td colspan="9"><strong>Subtotals</strong></td></tr>
		<tr>
			<td>Board of Directors &amp; Advisors Interface (Governance)</td>
			<td>59.25</td>
			<td>D</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>-20%</td>
			<td>-10%</td>
			<td>$40,000</td>
			<td>$45,000</td>
		</tr>
		<tr>
			<td>Shareholders Interface (ROI)</td>
			<td>85.00</td>
			<td>B</td>
			<td>5%</td>
			<td>$50.000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$52,500</td>
			<td>$55,000</td>
		</tr>
		<tr>
			<td>Legal &amp; Regulatory Authorities Interface (Compliance)</td>
			<td>89.00</td>
			<td>B</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$52,500</td>
			<td>$55,000</td>
		</tr>
		<tr>
			<td>Supply Chain Interface (Raw Materials)</td>
			<td>92.00</td>
			<td>A</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>10%</td>
			<td>20%</td>
			<td>$55,000</td>
			<td>$60,000</td>
		</tr>
		<tr>
			<td>Competitors Interface (Threats)</td>
			<td>85.00</td>
			<td>B</td>
			<td>10%</td>
			<td>$100,000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$105,000</td>
			<td>$110,000</td>
		</tr>
		<tr>
			<td>Prospects Interface (Opportunities)</td>
			<td>87.50</td>
			<td>B</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>5%</td>
			<td>10%</td>
			<td>$52,500</td>
			<td>$55,000</td>
		</tr>
		<tr>
			<td>Channel Interface (Third-Party Add-Ons)</td>
			<td>93.00</td>
			<td>A</td>
			<td>5%</td>
			<td>$50,000</td>
			<td>10%</td>
			<td>20%</td>
			<td>$55,000</td>
			<td>$60,000</td>
		</tr>
		<tr>
			<td>Customers Interface (Solutions)</td>
			<td>91.00</td>
			<td>A</td>
			<td>15%</td>
			<td>$150,000</td>
			<td>10%</td>
			<td>20%</td>
			<td>$165,000</td>
			<td>$180,000</td>
		</tr>
		<tr><td colspan="9"><strong>Subtotals</strong></td></tr>
		<tr><td colspan="9"><strong>Total</strong></td></tr>
	</tbody>
</table>

<%= tag("br", nil, true) %>