<div class="dock">

	<div class="external_title">
		Scorecards >>>
	</div>

	<div class="tab">
		<div class="arrows">
			<img src="/images/arrow-right.png"/>
			<img src="/images/arrow-right.png"/>
			<img src="/images/arrow-right.png"/>
		</div>
	</div>

	<ul>
		<li><a onclick="diliver.toggleScorecard('hrbs')" href="#">1) Human Resources Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('mrbs')" href="#">2) Machine Resources Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('irbs')" href="#">3) Information Resources Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('firbs')" href="#">4) Financial Resources Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('iprbs')" href="#">5) Intellectual Property Resources Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('frbs')" href="#">6) Facility Resources Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('bibs')" href="#">7) Board Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('sibs')" href="#">8) Shareholders Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('aibs')" href="#">9) Authorities Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('scibs')" href="#">10) Supply Chain Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('coibs')" href="#">11) Competitors Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('pibs')" href="#">12) Prospects Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('chibs')" href="#">13) Channel Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('cibs')" href="#">14) Customers Interface Scorecard</a></li>
		<li><hr></li>
		<li><a onclick="diliver.toggleScorecard('ewbs')" href="#">Enterprise Scorecard</a></li>
	</ul>

</div>

<div id="hrbs" class="scorecard">
	<h3>1) Human Resources Scorecard</h3>
	<table class="horizontal_minimal center" summary="1) Human Resources Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>College/University Degrees</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">28.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if &gt; 90% Employees have STEM-Related Undergraduate Degrees<br>KPI Rating = 2 if 80%-90% Employees have STEM-Related Undergraduate Degrees<br>KPI Rating = 1 if 70%-79% Employees have STEM-Related Undergraduate Degrees</td></tr>
			<tr>
				<td>Professional Training/Certifications</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if &gt; 75% Staff have PMI Project Management Certifications<br>KPI Rating = 2 if 50%-75% Staff have PMI Project Management Certifications<br>KPI Rating = 1 if 25%-49% Staff have PMI Project Management Certifications</td></tr>
			<tr>
				<td>Specialized Sector/Industry Work</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">19.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Billable Staff Averages &gt; 20 Years Working in Designated Sector/Industry<br>KPI Rating = 2 if Billable Staff Averages 15-20 Years Working in Designated Sector/Industry<br>KPI Rating = 1 if Billable Staff Averages 10-14 Years Working in Designated Sector/Industry</td></tr>
			<tr>
				<td>Career Development/Mentoring Programs</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% Employees Enrolled in Leadership/Mgmt or Func/Tech Track<br>KPI Rating = 2 if 90%-99% Employees Enrolled in Leadership/Mgmt or Func/Tech Track<br>KPI Rating = 1 if 80%-89% Employees Enrolled in Leadership/Mgmt or Func/Tech Track</td></tr>
			<tr>
				<td>Employee/Contractor Staff Headcount</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Total Headcount &gt; 1000 FTE Employees plus FTE Contractors<br>KPI Rating = 2 if Total Headcount 900-1000 FTE Employees plus FTE Contractors<br>KPI Rating = 1 if Total Headcount 800-899 FTE Employees plus FTE Contractors</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>91.00</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="mrbs" class="scorecard hide">
	<h3>2) Machine Resources Scorecard</h3>
	<table class="horizontal_minimal center" summary="2) Machine Resources Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Wireless Access Accounts</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">8.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7"class="no_border small_text">KPI Rating = 3 if 100% Employees have Smartphone/Tablet/Laptop Access to Corp Network<br>KPI Rating = 2 if 85%-99% Employees have Smartphone/Tablet/Laptop Access to Corp Network<br>KPI Rating = 1 if 70%-84% Employees have Smartphone/Tablet/Laptop Access to Corp Network</td></tr>
			<tr>
				<td>Standard Corporate Applications</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">25.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7"class="no_border small_text">KPI Rating = 3 if 100% Employees have Cloud Access to Office Suite &amp; ERP/CRM Platforms<br>KPI Rating = 2 if 90%-99% Employees have Cloud Access to Office Suite &amp; ERP/CRM Plat.<br>KPI Rating = 1 if 80%-89% Employees have Cloud Access to Office Suite &amp; ERP/CRM Plat.</td></tr>
			<tr>
				<td>Private Social Networking Software</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7"class="no_border small_text">KPI Rating = 3 if &gt; 80% Employees Actively Communicating using Social Networking Software<br>KPI Rating = 2 if 65%-80% Employees Actively Communicating using Social Networking SW<br>KPI Rating = 1 if 50%-64% Employees Actively Communicating using Social Networking SW</td></tr>
			<tr>
				<td>Performance Management Software</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">17.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7"class="no_border small_text">KPI Rating = 3 if 100% Directors &amp; Above Use Strategic Management Tools for Reporting<br>KPI Rating = 2 if 90%-99% Directors &amp; Above Use Strategic Management Tools for Reporting<br>KPI Rating = 1 if 80%-89% Directors &amp; Above Use Strategic Management Tools for Reporting</td></tr>
			<tr>
				<td>Project Management Software</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">14.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% Project Managers Use Tactical Management Tools for Execution<br>KPI Rating = 2 if 90%-99% Project Managers Use Tactical Management Tools for Execution<br>KPI Rating = 1 if 80%-89% Project Managers Use Tactical Management Tools for Execution</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>86.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="irbs" class="scorecard hide">
	<h3>3) Information Resources Scorecard</h3>
	<table class="horizontal_minimal center" summary="3) Information Resources Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Data Dictionary Process Entries</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Standard Business Processes Documented<br>KPI Rating = 2 if 80%-99% of Standard Business Processes Documented<br>KPI Rating = 1 if 50%-79% of Standard Business Processes Documented</td></tr>
			<tr>
				<td>Enterprise-Wide Business Plan</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Business Plan is 100% Complete<br>KPI Rating = 2 if Company Business Plan is 80%-99% Complete<br>KPI Rating = 1 if Company Business Plan is 70%-79% Complete</td></tr>
			<tr>
				<td>Deliverable &amp; Proposal Repository</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">28.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Operations/Solution Delivery Deliverables &amp; Proposals On-Line<br>KPI Rating = 2 if 75%-99% of Operations/Solution Delivery Deliverables &amp; Proposals On-Line<br>KPI Rating = 1 if 50%-74% of Operations/Solution Delivery Deliverables &amp; Proposals On-Line</td></tr>
			<tr>
				<td>Organizational Methodologies/Approaches</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Departments Follow an Organizational Methodology/Approach<br>KPI Rating = 2 if 90%-99% of Departments Follow an Organizational Methodology/Approach<br>KPI Rating = 1 if 80%-89% of Departments Follow an Organizational Methodology/Approach</td></tr>
			<tr>
				<td>ISO 9001 Certification</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">0</td>
				<td class="right_justify">F</td>
				<td class="right_justify">0</td>
				<td class="right_justify">0.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company 100% Certified for ISO 9001 Quality Mgmt System Requirements<br>KPI Rating = 2 if Company 75%-99% in Process for ISO 9001 Certification<br>KPI Rating = 1 if Company 50%-74% in Process for ISO 9001 Certification</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>72.00</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="firbs" class="scorecard hide">
	<h3>4) Financial Resources Scorecard</h3>
	<table class="horizontal_minimal center" summary="4) Financial Resources Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Retained Earnings</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">19.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if EOY Retained Earnings &gt; 10% of EOY Total Assets<br>KPI Rating = 2 if EOY Retained Earnings 6%-10% of EOY Total Assets<br>KPI Rating = 1 if EOY Retained Earnings 3%-5% of EOY Total Assets</td></tr>
			<tr>
				<td>Backlog</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if EOY Bookings Less Revenue &gt; 4x EOY Gross Margin<br>KPI Rating = 2 if EOY Bookings Less Revenue 3x-4x EOY Gross Margin<br>KPI Rating = 1 if EOY Bookings Less Revenue 1x-2x EOY Gross Margin</td></tr>
			<tr>
				<td>Revenue</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if EOY Revenue &gt; $20M<br>KPI Rating = 2 if EOY Revenue $18M-$20M<br>KPI Rating = 1 if EOY Revenue $15M-$17M</td></tr>
			<tr>
				<td>EBITDA</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">28.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if EOY EBITDA &gt; $4.0M<br>KPI Rating = 2 if EOY EBITDA $3.5M-$4.0M<br>KPI Rating = 1 if EOY EBITDA $3.0M-$3.4M</td></tr>
			<tr>
				<td>Liquidity</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">18.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Cash &amp; Marketable Securities &gt; $5.0M<br>KPI Rating = 2 if Cash &amp; Marketable Securities $4.0M-$5.0M<br>KPI Rating = 1 if Cash &amp; Marketable Securities $3.0M-$3.9M</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>88.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="iprbs" class="scorecard hide">
	<h3>5) Intellectual Property Resources Scorecard</h3>
	<table class="horizontal_minimal center" summary="5) Intellectual Property Resources Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Filed Patents</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Filed &gt; 10 Patents with US PTO<br>KPI Rating = 2 if Company Filed 5-10 Patents with US PTO<br>KPI Rating = 1 if Company Filed 1-4 Patents with US PTO</td></tr>
			<tr>
				<td>Issued Patents</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">15.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Issued &gt; 3 Patents<br>KPI Rating = 2 if Company Issued 2-3 Patents<br>KPI Rating = 1 if Company Issued 1 Patent</td></tr>
			<tr>
				<td>Issued Copyrights</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Issued &gt; 6 Copyrights<br>KPI Rating = 2 if Company Issued 4-6 Copyrights<br>KPI Rating = 1 if Company Issued 2-3 Copyrights</td></tr>
			<tr>
				<td>Issued Trademarks</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">7.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Issued &gt; 6 Trademarks<br>KPI Rating = 2 if Company Issued 4-6 Trademarks<br>KPI Rating = 1 if Company Issued 2-3 Trademarks</td></tr>
			<tr>
				<td>Sector/Industry Awards</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">22.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Wins &gt; 3 Types of Designated Innovation Recognition<br>KPI Rating = 2 if Company Wins 2-3 Types of Designated Innovation Recognition<br>KPI Rating = 1 if Company Wins 1 Type of Designated Innovation Recognition</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>79.00</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="frbs" class="scorecard hide">
	<h3>6) Facility Resources Scorecard</h3>
	<table class="horizontal_minimal center" summary="6) Facility Resources Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>English-Speaking Countries</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">25.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Serves Customers in US and &gt; 3 Other English-Speaking Countries<br>KPI Rating = 2 if Company Serves Customers in US and 2-3 Other English-Speaking Countries<br>KPI Rating = 1 if Company Serves Customers in US and 1 Other English-Speaking Country</td></tr>
			<tr>
				<td>Virtual Office Policy</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">23.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Employees Work from Home or on the Road<br>KPI Rating = 2 if 90%-99% of Employees Work from Home or on the Road<br>KPI Rating = 1 if 80%-89% of Employees Work from Home or on the Road</td></tr>
			<tr>
				<td>Continental Presence</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">17.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Serves All 7 Continents<br>KPI Rating = 2 if Company Serves 5-6 Designated Continents<br>KPI Rating = 1 if Company Serves 3-4 Designated Continents</td></tr>
			<tr>
				<td>US Regional Presence</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">14.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Serves All 6 US Regions<br>KPI Rating = 2 if Company Serves 4-5 Designated US Regions<br>KPI Rating = 1 if Company Serves 2-3 Designated US Regions</td></tr>
			<tr>
				<td>US State &amp; Local Community Presence</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Serves All 50 US States and Their Capitals<br>KPI Rating = 2 if Company Serves 40-49 Designated US States and Their Capitals<br>KPI Rating = 1 if Company Serves 25-39 Designated US States and Their Capitals</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>90.00</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="bibs" class="scorecard hide">
	<h3>7) Board Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="7) Board Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Business Excellence Framework</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Follows 100% of Enterprise-Wide Framework (PERU)<br>KPI Rating = 2 if Company Follows 75-99% of Enterprise-Wide Framework (PER)<br>KPI Rating = 1 if Company Follows 50-74% of Enterprise-Wide Framework (PE)</td></tr>
			<tr>
				<td>Organizational Structure</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">25.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Org Structure Follows 100% of FACTOID Submodel (7 Units)<br>KPI Rating = 2 if Company Org Structure Follows 90%-99% of FACTOID Submodel (6 Units)<br>KPI Rating = 1 if Company Org Structure Follows 80%-89% of FACTOID Submodel (5 Units)</td></tr>
			<tr>
				<td>Organizational Roles &amp; Responsibilities</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Board &amp; Organizational Structure Positions Clearly Defined<br>KPI Rating = 2 if 80%-99% of Board &amp; Organizational Structure Positions Clearly Defined<br>KPI Rating = 1 if 60%-79% of Board &amp; Organizational Structure Positions Clearly Defined</td></tr>
			<tr>
				<td>Board/Committee Activism</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">15.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Boards Meet &gt; 4 Times per Year<br>KPI Rating = 2 if Boards Meet 3-4 Times per Year<br>KPI Rating = 1 if Boards Meet 1-2 Times per Year</td></tr>
			<tr>
				<td>Board Member Relevance</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">11.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Board has &gt; 8 Designated Field/Discipline Luminaries<br>KPI Rating = 2 if Board has 6-8 Designated Field/Discipline Luminaries<br>KPI Rating = 1 if Board has 3-5 Designated Field/Discipline Luminaries</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>82.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="sibs" class="scorecard hide">
	<h3>8) Shareholders Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="8) Shareholders Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Enterprise Valuation</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if External Enterprise Valuation &gt; 2.0x EOY Revenue<br>KPI Rating = 2 if External Enterprise Valuation 1.5x-2.0x EOY Revenue<br>KPI Rating = 1 if External Enterprise Valuation 1.0x-1.4x EOY Revenue</td></tr>
			<tr>
				<td>Dividends</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">0</td>
				<td class="right_justify">F</td>
				<td class="right_justify">0</td>
				<td class="right_justify">0.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if  Paid Dividend &gt; 10% of Share Price<br>KPI Rating = 2 if Paid Dividend 8%-10% of Share Price<br>KPI Rating = 1 if Paid Dividend 5%-7% of Share Price</td></tr>
			<tr>
				<td>Price/Earnings Ratio</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">25.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Price/Earnings Ratio &gt; X1<br>KPI Rating = 2 if Price/Earnings Ratio X2-X3<br>KPI Rating = 1 if Price/Earnings Ratio X4-X5</td></tr>
			<tr>
				<td>Earnings/Share Ratio</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Earnings/Share Ratio &gt; Y1<br>KPI Rating = 2 if Earnings/Share Ratio Y2-Y3<br>KPI Rating = 1 if Earnings/Share Ratio Y4-Y5</td></tr>
			<tr>
				<td>Revenue/Employee Ratio</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">17.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Revenue/Employee Ratio &gt; Z1<br>KPI Rating = 2 if Revenue/Employee Ratio Z2-Z3<br>KPI Rating = 1 if Revenue/Employee Ratio Z4-Z5</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>76.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="aibs" class="scorecard hide">
	<h3>9) Authorities Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="9) Authorities Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Audited Financial Statements</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">19.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has Audited Financial Statements for Last 3 Years<br>KPI Rating = 2 if Company has Audited Statements for Current Year + Reviewed for 2 Previous<br>KPI Rating = 1 if Company has Reviewed Statements for Last 3 Years</td></tr>
			<tr>
				<td>Sarbanes-Oxley Compliance</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company 100% SOX Compliant<br>KPI Rating = 2 if Company 90%-99% SOX Compliant<br>KPI Rating = 1 if Company 80%-89% SOX Compliant</td></tr>
			<tr>
				<td>Payment Card Industry Data Security Standard Compliance</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company 100% PCI DSS Compliant<br>KPI Rating = 2 if Company 90%-99% PCI DSS Compliant<br>KPI Rating = 1 if Company 80%-89% PCI DSS Compliant</td></tr>
			<tr>
				<td>International Trade Agreements</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">22.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has Trade Agreements with &gt; 10 Designated Countries<br>KPI Rating = 2 if Company has Trade Agreements with 7-10 Designated Countries<br>KPI Rating = 1 if Company has Trade Agreements with 4-6 Designated Countries</td></tr>
			<tr>
				<td>Local Licenses &amp; Permits</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">23.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company is Authorized to Conduct Business in all 50 US States<br>KPI Rating = 2 if Company is Authorized to Conduct Business in 40-49 Designated States<br>KPI Rating = 1 if Company is Authorized to Conduct Business in 25-39 Designated States</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>87.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="scibs" class="scorecard hide">
	<h3>10) Supply Chain Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="10) Supply Chain Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Hardware Manufacturing Secondary Sources</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Secondary Sources for Each Part/Chip<br>KPI Rating = 2 if Company has 2-3 Secondary Sources for Each Part/Chip<br>KPI Rating = 1 if Company has 1 Secondary Source for Each Part/Chip</td></tr>
			<tr>
				<td>Software Development Secondary Sources</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">17.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Secondary Sources for Each Subroutine/Object<br>KPI Rating = 2 if Company has 2-3 Secondary Sources for Each Subroutine/Object<br>KPI Rating = 1 if Company has 1 Secondary Source for Each Subroutine/Object</td></tr>
			<tr>
				<td>Consulting Services Secondary Sources</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">14.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Secondary Sources for Each Outsourced Project/Task<br>KPI Rating = 2 if Company has 2-3 Secondary Sources for Each Outsourced Project/Task<br>KPI Rating = 1 if Company has 1 Secondary Source for Each Outsourced Project/Task</td></tr>
			<tr>
				<td>Data Aggregation Secondary Sources</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">8.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Secondary Sources for Each Market Info Repository<br>KPI Rating = 2 if Company has 2-3 Secondary Sources for Each Market Info Repository<br>KPI Rating = 1 if Company has 1 Secondary Source for Each Market Info Repository</td></tr>
			<tr>
				<td>Packaged Solution Secondary Sources</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">25.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Secondary Sources for Each Assembler/Distributor<br>KPI Rating = 2 if Company has 2-3 Secondary Sources for Each Assembler/Distributor<br>KPI Rating = 1 if Company has 1 Secondary Source for Each Assembler/Distributor</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>86.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="coibs" class="scorecard hide">
	<h3>11) Competitors Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="11) Competitors Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Market Share</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">28.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Global Market Share by Customers in Competitive Category &gt; 30%<br>KPI Rating = 2 if Global Market Share by Customers in Competitive Category 20%-30%<br>KPI Rating = 1 if Global Market Share by Customers in Competitive Category 10%-19%</td></tr>
			<tr>
				<td>Sector Influence</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">23.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Category Leader in All 4 Sectors<br>KPI Rating = 2 if Company Category Leader in 2-3 Sectors<br>KPI Rating = 1 if Company Category Leader in 1 Sector</td></tr>
			<tr>
				<td>Industry Influence</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">19.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Category Leader in &gt; 3 Designated Industries<br>KPI Rating = 2 if Company Category Leader in 2-3 Designated Industries<br>KPI Rating = 1 if Company Category Leader in 1 Designated Industry</td></tr>
			<tr>
				<td>Geography Influence</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Category Leader in &gt; 3 Designated Geographies<br>KPI Rating = 2 if Company Category Leader in 2-3 Designated Geographies<br>KPI Rating = 1 if Company Category Leader in 1 Designated Geography</td></tr>
			<tr>
				<td>Publications</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">8.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company Thought Leadership Papers in &gt; 6 Designated Publications<br>KPI Rating = 2 if Company Thought Leadership Papers in 4-6 Designated Publications<br>KPI Rating = 1 if Company Thought Leadership Papers in 2-3 Designated Publications</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>92.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="pibs" class="scorecard hide">
	<h3>12) Prospects Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="12) Prospects Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Sales Pipeline</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">8.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% New/Expansion Business Suspect Leads Filtered<br>KPI Rating = 2 if 90%-99% New/Expansion Business Suspect Leads Filtered<br>KPI Rating = 1 if 80%-89% New/Expansion Business Suspect Leads Filtered</td></tr>
			<tr>
				<td>Sales Forecast</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">25.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 90%-100% New/Expansion Business Prospect Leads Screened<br>KPI Rating = 2 if 80%-89% New/Expansion Business Prospect Leads Screened<br>KPI Rating = 1 if 70%-79% New/Expansion Business Prospect Leads Screened</td></tr>
			<tr>
				<td>Sales Budget</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 70%-100% New/Expansion Business Opportunity Leads Qualified<br>KPI Rating = 2 if 60%-69% New/Expansion Business Opportunity Leads Qualified<br>KPI Rating = 1 if 50%-59% New/Expansion Business Opportunity Leads Qualified</td></tr>
			<tr>
				<td>Close Rate</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">1</td>
				<td class="right_justify">C</td>
				<td class="right_justify">75</td>
				<td class="right_justify">15.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Win 80%-100% Budgeted Deals<br>KPI Rating = 2 if Win 50%-79% Budgeted Deals<br>KPI Rating = 1 if Win 30%-49% Budgeted Deals</td></tr>
			<tr>
				<td>Recurring Sales</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">12.75</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Average Product Maintenance Prepaid &gt; 3 Years<br>KPI Rating = 2 if Average Product Maintenance Prepaid 2-3 Years<br>KPI Rating = 1 if Average Product Maintenance Prepaid 1 Year</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>83.00</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="chibs" class="scorecard hide">
	<h3>13) Channel Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="13) Channel Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Authorized Resellers</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">14.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 2 Resellers in Every State Where There's a Customer<br>KPI Rating = 2 if Company has 2 Resellers in Every State Where There's a Customer<br>KPI Rating = 1 if Company has 1 Reseller in Every State Where There's a Customer</td></tr>
			<tr>
				<td>Add-On Product Partners</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Add-On Products for Each Strategic Product Category<br>KPI Rating = 2 if Company has 2-3 Add-On Products for Each Strategic Product Category<br>KPI Rating = 1 if Company has 1 Add-On Product for Each Strategic Product Category</td></tr>
			<tr>
				<td>Add-On Service Partners</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">85</td>
				<td class="right_justify">28.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Add-On Service Partners in Each Designated Geography<br>KPI Rating = 2 if Company has 2-3 Add-On Service Partners in Each Designated Geography<br>KPI Rating = 1 if Company has 1 Add-On Service Partner in Each Designated Geography</td></tr>
			<tr>
				<td>Production/Packaging Partners</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Prod./Packaging Partners in Each Designated Geography<br>KPI Rating = 2 if Company has 2-3 Prod./Packaging Partners in Each Designated Geography<br>KPI Rating = 1 if Company has 1 Prod./Packaging Partner in Each Designated Geography</td></tr>
			<tr>
				<td>Distribution/Fulfillment Partners</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">17.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Company has &gt; 3 Dist./Fulfillment Partners in Each Designated Geography<br>KPI Rating = 2 if Company has 2-3 Dist./Fulfillment Partners in Each Designated Geography<br>KPI Rating = 1 if Company has 1 Dist./Fulfillment Partner in Each Designated Geography</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>90.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="cibs" class="scorecard hide">
	<h3>14) Customers Interface Scorecard</h3>
	<table class="horizontal_minimal center" summary="14) Customers Interface Scorecard">
		<thread>
			<tr>
				<th scope="col">Appraisal Factors &amp; KPIs</th>
				<th scope="col" class="right_justify">Factor Weight</th>
				<th scope="col" class="right_justify">Factor Rating</th>
				<th scope="col" class="right_justify">Factor Grade</th>
				<th scope="col" class="right_justify">Factor Score</th>
				<th scope="col" class="right_justify">Weighted Factor Score</th>
				<th scope="col">Comments</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Customer Satisfaction Survey Results</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">19.00</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if Average Customer Rating &gt; 90%<br>KPI Rating = 2 if Average Customer Rating 80%-90%<br>KPI Rating = 1 if Average Customer Rating 70%-79%</td></tr>
			<tr>
				<td>Customer Case Studies/Testimonials/References</td>
				<td class="right_justify">15%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">14.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 90%-100% Customers Provide Case Studies/Testimonials/References<br>KPI Rating = 2 if 80%-89% Customers Provide Case Studies/Testimonials/References<br>KPI Rating = 1 if 70%-79% Customers Provide Case Studies/Testimonials/References</td></tr>
			<tr>
				<td>Product Configurability</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">9.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Module Preferences Don't Require Custom Programming/Integration<br>KPI Rating = 2 if 90%-99% of Mod. Preferences Don't Require Custom Programming/Integration<br>KPI Rating = 1 if 80%-89% of Mod. Preferences Don't Require Custom Programming/Integration</td></tr>
			<tr>
				<td>Product Auto-Scalability</td>
				<td class="right_justify">30%</td>
				<td class="right_justify">3</td>
				<td class="right_justify">A</td>
				<td class="right_justify">95</td>
				<td class="right_justify">28.50</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Mobile Web App Screens Automatically Adjust to Handheld Device<br>KPI Rating = 2 if 90%-99% of Mobile Web App Screens Auto. Adjust to Handheld Device<br>KPI Rating = 1 if 80%-89% of Mobile Web App Screens Auto. Adjust to Handheld Device</td></tr>
			<tr>
				<td>Product Self-Service</td>
				<td class="right_justify">25%</td>
				<td class="right_justify">2</td>
				<td class="right_justify">B</td>
				<td class="right_justify">85</td>
				<td class="right_justify">21.25</td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr><td colspan="7" class="no_border small_text">KPI Rating = 3 if 100% of Applications Allow User Profile Self-Editing<br>KPI Rating = 2 if 90%-99% of Applications Allow User Profile Self-Editing<br>KPI Rating = 1 if 80%-89% of Applications Allow User Profile Self-Editing</td></tr>
			<tr>
				<td><strong>Total</strong></td>
				<td class="right_justify"><strong>100%</strong></td>
				<td colspan="3"></td>
				<td class="right_justify"><strong>92.50</strong></td>
				<td colspan="1"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="ewbs" class="scorecard hide">
	<h3>Enterprise Scorecard</h3>
	<table class="horizontal_minimal center" summary="Enterprise Scorecard">
		<thread>
			<tr>
				<th scope="col"><em>Buyer ABC</em> Appraisal Categories (to Measure <em>Seller XYZ</em>)</th>
				<th scope="col">Category Score</th>
				<th scope="col">Category Grade</th>
				<th scope="col">Category Weight</th>
				<th scope="col">Weighted Category Score</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td class="no_border"><strong><em>Internal Resources:</em></strong></td>
				<td class="no_border" colspan="4"></td>
			</tr>
			<tr>
				<td>1) Human Resources</td>
				<td>91.00</td>
				<td>A</td>
				<td>10%</td>
				<td>9.10</td>
			</tr>
			<tr>
				<td>2) Machine Resources</td>
				<td>86.50</td>
				<td>B</td>
				<td>5%</td>
				<td>4.33</td>
			</tr>
			<tr>
				<td>3) Information Resources</td>
				<td>72.00</td>
				<td>C</td>
				<td>5%</td>
				<td>3.60</td>
			</tr>
			<tr>
				<td>4) Financial Resources</td>
				<td>88.50</td>
				<td>B</td>
				<td>10%</td>
				<td>8.85</td>
			</tr>
			<tr>
				<td>5) Intellectual Property Resources</td>
				<td>79.00</td>
				<td>C</td>
				<td>10%</td>
				<td>7.90</td>
			</tr>
			<tr>
				<td>6) Facility Resources</td>
				<td>90.00</td>
				<td>A</td>
				<td>5%</td>
				<td>4.50</td>
			</tr>
			<tr>
				<td><strong>Subtotal</strong></td>
				<td colspan="2"></td>
				<td><strong>45%</strong></td>
				<td><strong>38.28</strong></td>
			</tr>
			<tr>
				<td class="no_border"><strong><em>External Entity Interfaces:</em></strong></td>
				<td class="no_border" colspan="4"></td>
			</tr>
			<tr>
				<td>7) Board Interface</td>
				<td>82.50</td>
				<td>B</td>
				<td>5%</td>
				<td>4.13</td>
			</tr>
			<tr>
				<td>8) Shareholders Interface</td>
				<td>76.50</td>
				<td>C</td>
				<td>5%</td>
				<td>3.83</td>
			</tr>
			<tr>
				<td>9) Authorities Interface</td>
				<td>87.50</td>
				<td>B</td>
				<td>5%</td>
				<td>4.38</td>
			</tr>
			<tr>
				<td>10) Supply Chain Interface</td>
				<td>86.50</td>
				<td>B</td>
				<td>5%</td>
				<td>4.33</td>
			</tr>
			<tr>
				<td>11) Competitors Interface</td>
				<td>92.50</td>
				<td>A</td>
				<td>10%</td>
				<td>9.25</td>
			</tr>
			<tr>
				<td>12) Prospects Interface</td>
				<td>83.00</td>
				<td>B</td>
				<td>5%</td>
				<td>4.15</td>
			</tr>
			<tr>
				<td>13) Channel Interface</td>
				<td>90.50</td>
				<td>A</td>
				<td>5%</td>
				<td>4.53</td>
			</tr>
			<tr>
				<td>14) Customers Interface</td>
				<td>92.50</td>
				<td>A</td>
				<td>15%</td>
				<td>13.88</td>
			</tr>
			<tr>
				<td><strong>Subtotal</strong></td>
				<td colspan="2"></td>
				<td><strong>55%</strong></td>
				<td><strong>48.45</strong></td>
			</tr>
			<tr>
				<td><strong>Total</strong></td>
				<td colspan="2"></td>
				<td><strong>100%</strong></td>
				<td><strong>86.73</strong></td>
			</tr>
		</tbody>
	</table>
</div>