<h3><em>Buyer ABC</em> Valuation Method</h3>
<div class="wrapper_dropdown">
  <select>
    <option selected=true value="01">Revenue Multiplier</option>
    <option value="02">EBITDA Multiplier</option>
    <option value="03">Other</option>
  </select>
</div>

<br>
<br>

<table class="horizontal_minimal_small" summary="Term Sheet">
	<tbody>
		<tr>
			<th scope="col"><em>Buyer ABC</em> Final Valuation (of <em>Seller XYZ</em>) = </th>
			<th scope="col" class="right_justify">$1,100,000</th>
		</tr>
	</tbody>
	<tbody>
			<tr><th class="table_label" colspan="5"><strong>Closing Agreement</strong></th></tr>
	</tbody>
	<thread>
		<tr>
			<th scope="col">Items</th>
			<th scope="col" class="right_justify">Amount</th>
			<th scope="col" class="right_justify">Percent</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Cash</td>
			<td class="right_justify">$110,000</td>
			<td class="right_justify">10%</td>
		</tr>
		<tr>
			<td>Stock</td>
			<td class="right_justify">$440,000</td>
			<td class="right_justify">40%</td>
		</tr>
		<tr>
			<td>Note</td>
			<td class="right_justify">$220,000</td>
			<td class="right_justify">20%</td>
		</tr>
		<tr>
			<td>Earnout</td>
			<td class="right_justify">$330,000</td>
			<td class="right_justify">30%</td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td class="right_justify"><strong>$1,100,000</strong></td>
			<td class="right_justify"><strong>100%</strong></td>
		</tr>
	</tbody>
</table>