<div class="middle_container">
  <div class="center middle">
    <h1><em>MAST</em>&trade; BDDA</h1>
    <br>
    <br>
    <h2>[Alpha Version 1/Release 1 - June 2013]</h2>
    <br>
    <br>
    <h3>Please click <%= link_to "here", "/demo/team-identification", :class => "home-link" %> to begin your session.</h3>
  </div>
</div>