<div class="center">
  <h3><em>MAST</em>&trade; BDDA</h3>
  <br>
  <p>[Alpha Version 1/Release 1 - June 2013]</p>
  <br>
  <br>
  <p>Please click <%= link_to "here", "/demo/team-identification", :class => "home-link" %> to begin your session.</p>
</div>