<label>ABC Valuation Method</label>
<div class="wrapper_dropdown">
  <select>
    <option selected=true value="01">Revenue Multiplier</option>
    <option value="02">EBITDA Multiplier</option>
    <option value="03">Other</option>
  </select>
</div>

<br>
<br>

<table class="horizontal_minimal" summary="Initial Valuation">
	<thread>
		<tr>
			<th scope="col">ABC Initial Valuation (of XYZ) = </th>
			<th scope="col">$1,000,000</th>
			<th scope="col">100%</th>
		</tr>
	</thread>
</table>

<br>

<label>Term Sheet</label>
<table class="horizontal_minimal" summary="Term Sheet">
	<thread>
		<tr>
			<th scope="col">Source</th>
			<th scope="col">Amount</th>
			<th scope="col">Percent</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Cash</td>
			<td>$100,000</td>
			<td>10%</td>
		</tr>
		<tr>
			<td>Stock</td>
			<td>$400,000</td>
			<td>40%</td>
		</tr>
		<tr>
			<td>Note</td>
			<td>$200,000</td>
			<td>20%</td>
		</tr>
		<tr>
			<td>Earnout</td>
			<td>$300,000</td>
			<td>30%</td>
		</tr>
		<tr>
			<td>Tax Benefit</td>
			<td>$0</td>
			<td>0%</td>
		</tr>
		<tr>
			<td>Total</td>
			<td>$1,000,000</td>
			<td>100%</td>
		</tr>
	</tbody>
</table>