<table class="horizontal_minimal center" summary="Preliminary Due Diligence">
	<thread>
		<tr>
			<th scope="col">Buyer ABC Mandatory Transaction Criteria</th>
			<th scope="col" class="center_justify">Buyer ABC Substantiation</th>
			<th scope="col">Buyer ABC Comments</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>Company Type: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_company_type" name="check"  checked="true"/><label for="buyer_company_type"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 1"></input></p></td>
		</tr>
		<tr>
			<td>Complementary Company: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_complementary_company" name="check"  checked="true"/><label for="buyer_complementary_company"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 2"></input></p></td>
		</tr>
		<tr>
			<td>Executive Team: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_executive_team" name="check"  checked="true"/><label for="buyer_executive_team"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 3"></input></p></td>
		</tr>
		<tr>
			<td>Headcount: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_headcount" name="check"  checked="true"/><label for="buyer_headcount"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 4"></input></p></td>
		</tr>
		<tr>
			<td>Development Environment: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_development_environment" name="check"  checked="true"/><label for="buyer_development_environment"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 5"></input></p></td>
		</tr>
		<tr>
			<td>Financial Statements: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_financial_statements" name="check"  checked="true"/><label for="buyer_financial_statements"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 6"></input></p></td>
		</tr>
		<tr>
			<td>Pricing Model: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_pricing_model" name="check"  checked="true"/><label for="buyer_pricing_model"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 7"></input></p></td>
		</tr>
		<tr>
			<td>Revenue: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_revenue" name="check"  checked="true"/><label for="buyer_revenue"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 8"></input></p></td>
		</tr>
		<tr>
			<td>EBITDA: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_EBITDA" name="check"  checked="true"/><label for="buyer_EBITDA"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 9"></input></p></td>
		</tr>
		<tr>
			<td>Liquid Assets: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_liquid_assets" name="check"  checked="true"/><label for="buyer_liquid_assets"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 10"></input></p></td>
		</tr>
		<tr>
			<td>Revenue Mix: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_revenue_mix" name="check"  checked="true"/><label for="buyer_revenue_mix"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 11"></input></p></td>
		</tr>
		<tr>
			<td>Recurring Revenue: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_recurring_revenue" name="check"  checked="true"/><label for="buyer_recurring_revenue"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 12"></input></p></td>
		</tr>
		<tr>
			<td>Organic Growth: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_organic_growth" name="check"  checked="true"/><label for="buyer_organic_growth"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 13"></input></p></td>
		</tr>
		<tr>
			<td>Headquarters Office Location: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_headquarters_office_location" name="check"  checked="true"/><label for="buyer_headquarters_office_location"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 14"></input></p></td>
		</tr>
		<tr>
			<td>Ownership: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_ownership" name="check"  checked="true"/><label for="buyer_ownership"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 15"></input></p></td>
		</tr>
		<tr>
			<td>Years in Business: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_years_in_business" name="check"  checked="true"/><label for="buyer_years_in_business"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 16"></input></p></td>
		</tr>
		<tr>
			<td>Legal Status: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_legal_status" name="check"  checked="true"/><label for="buyer_legal_status"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 17"></input></p></td>
		</tr>
		<tr>
			<td>Sector/Industry Leadership: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_sector_industry_leadership" name="check"  checked="true"/><label for="buyer_sector_industry_leadership"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 18"></input></p></td>
		</tr>
		<tr>
			<td>Niche: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_niche" name="check"  checked="true"/><label for="buyer_niche"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 19"></input></p></td>
		</tr>
		<tr>
			<td>Customer Locations: </td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="buyer_customer_locations" name="check"  checked="true"/><label for="buyer_customer_locations"></label></div></td>
			<td><input type="text" value="Seller Reference Doc(s) 20"></input></p></td>
		</tr>
	</tbody>
</table>

<div class="modal">
    <p>If the buyer substantiates that all of the criteria are met, then please proceed to the next step by clicking the button below.</p>
</div>