<p><strong>Company Type: </strong><input value="Software Product Company"></input></p>
<p><strong>Complementary Company: </strong><input value="Integrated with iMIS"></input></p>
<p><strong>Executive Team: </strong><input value="Key Leaders Together for 3+ Years"></input></p>
<p><strong>Headcount: </strong><input value="Number of Full-Time Employees &lt; 100"></input></p>
<p><strong>Development Environment: </strong><input value="Microsoft .NET-SQL Server or LAMP"></input></p>
<p><strong>Financial Statements: </strong><input value="Audited or Reviewed"></input></p>
<p><strong>Pricing Model: </strong><input value="SaaS Subscription or License/Product Maintenance"></input></p>
<p><strong>Revenue: </strong><input value="EOY Revenue Dollars $250K - $2M"></input></p>
<p><strong>EBITDA: </strong><input value="EOY EBITDA Dollars $10K+"></input></p>
<p><strong>Liquid Assets: </strong><input value="Cash on Hand &gt; $10K"></input></p>
<p><strong>Revenue Mix: </strong><input value="EOY Product-to-Service Ratio &gt; 50%/50%"></input></p>
<p><strong>Recurring Revenue: </strong><input value="EOY Recurring Revenue Percent &gt; 60%"></input></p>
<p><strong>Organic Growth: </strong><input value="Last Three Years Organic Growth Percentage Average &gt; 10%"></input></p>
<p><strong>Headquarters Office Location: </strong><input value="USA East Coast"></input></p>
<p><strong>Ownership: </strong><input value="Privately Held Corporation with No Institutional Investors"></input></p>
<p><strong>Years in Business: </strong><input value="&gt; 5 Years"></input></p>
<p><strong>Legal Status: </strong><input value="Private C-Corporation, S-Corporation, or LLC"></input></p>
<p><strong>Sector/Industry Leadership: </strong><input value="Market Share Leader in Number of Customers"></input></p>
<p><strong>Niche: </strong><input value="Primary Customer Base is Not-For-Profit (NFP) Sector"></input></p>
<p><strong>Customer Locations: </strong><input value="Base in USA"></input></p>