<h3>Buyer ABC Mandatory Transaction Criteria</h3>
<br>
<hr>
<br>
<table class="horizontal_minimal center" summary="Qualification">
	<thread>
		<tr>
			<th scope="col">Buyer ABC Mandatory Transaction Criteria</th>
			<th scope="col" class="center_justify">Seller XYZ Declaration</th>
			<th scop="col">Seller XYZ Comments</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td><input type="text" class="half_wide_input" value="Company Type: Software Product Company"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_company_type" name="check" checked="true"/><label for="seller_company_type"></label></div></td>
			<td><input type="text" value="Packaged application with 10 modules"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Complementary Company: Already Integrated"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_complementary_company" name="check"  checked="true"/><label for="seller_complementary_company"></label></div></td>
			<td><input type="text" value="Productized bridge"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Executive Team: Leaders Together 3+ Years"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_executive_team" name="check"  checked="true"/><label for="seller_executive_team"></label></div></td>
			<td><input type="text" value="Founder/CEO and COO still active"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Headcount: Number of FTEs &lt; 100"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_headcount" name="check"  checked="true"/><label for="seller_headcount"></label></div></td>
			<td><input type="text" value="20 FTEs + 10 1099 Contractors"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Development Environment: LAMP"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_development_environment" name="check"  checked="true"/><label for="seller_development_environment"></label></div></td>
			<td><input type="text" value="Ruby on Rails"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Financial Statements: Audited or Reviewed"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_financial_statements" name="check"  checked="true"/><label for="seller_financial_statements"></label></div></td>
			<td><input type="text" value="Reviewed"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Pricing Model: SaaS Subscription"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_pricing_model" name="check"  checked="true"/><label for="seller_pricing_model"></label></div></td>
			<td><input type="text" value="SaaS Subscription and Consulting Services"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Revenue: EOY Revenue Dollars $250K-$2M"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_revenue" name="check"  checked="true"/><label for="seller_revenue"></label></div></td>
			<td><input type="text" value="2012: $500K"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="EBITDA: EOY EBITDA Dollars $10K+"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_EBITDA" name="check"  checked="true"/><label for="seller_EBITDA"></label></div></td>
			<td><input type="text" value="2012: $50K"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Liquid Assets: Cash on Hand &gt; $10K"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_liquid_assets" name="check"  checked="true"/><label for="seller_liquid_assets"></label></div></td>
			<td><input type="text" value="$25K in bank"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Revenue Mix: Product/Service Ratio &gt; 50/50%"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_revenue_mix" name="check"  checked="true"/><label for="seller_revenue_mix"></label></div></td>
			<td><input type="text" value="65%/35%"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Recurring Revenue: Recurring Percent &gt; 60%"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_recurring_revenue" name="check"  checked="true"/><label for="seller_recurring_revenue"></label></div></td>
			<td><input type="text" value="65%"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Organic Growth: Last 3 Years Percent &gt; 10%"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_organic_growth" name="check"  checked="true"/><label for="seller_organic_growth"></label></div></td>
			<td><input type="text" value="Average 15%"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="HQ Office Location: USA East Coast"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_headquarters_office_location" name="check"  checked="true"/><label for="seller_headquarters_office_location"></label></div></td>
			<td><input type="text" value="Boston"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Ownership: Privately Held/No Inst. Investors"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_ownership" name="check"  checked="true"/><label for="seller_ownership"></label></div></td>
			<td><input type="text" value="Funded by founder"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Years in Business: &gt; 5 Years"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_years_in_business" name="check"  checked="true"/><label for="seller_years_in_business"></label></div></td>
			<td><input type="text" value="20 years"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Legal Status: C-Corp, S-Corp, or LLC"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_legal_status" name="check"  checked="true"/><label for="seller_legal_status"></label></div></td>
			<td><input type="text" value="Delaware S-Corp"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Industry Leadership: Market Share Leader"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_sector_industry_leadership" name="check"  checked="true"/><label for="seller_sector_industry_leadership"></label></div></td>
			<td><input type="text" value="Social marketing SW leader in Sports &amp; Entertainment"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Niche: Blue Chip Customer References"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_niche" name="check"  checked="true"/><label for="seller_niche"></label></div></td>
			<td><input type="text" value="Multiple NFL football and ML baseball teams"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" class="half_wide_input" value="Customer Locations: Base in USA"></input></td>
			<td><div class="squaredThree"><input type="checkbox" value="None" id="seller_customer_locations" name="check"  checked="true"/><label for="seller_customer_locations"></label></div></td>
			<td><input type="text" value="USA and Canada"></input></p></td>
		</tr>
	</tbody>
</table>

<div class="modal">
    <p>If the seller declares that all of the criteria are met, then please proceed to the next step by clicking the button below.</p>
</div>