<div class="screening">
	<h2><em>Buyer ABC</em></h2>
	<br>
	<h3>Core Competencies:</h3>
	<br>
	<textarea class="wide_input short">Market Leader in SaaS Enterprise Software Platforms</textarea>
	<br>
	<textarea class="wide_input short">Standard CRM Marketing, Sales, and Customer Support Modules</textarea>
	<br>
	<textarea class="wide_input short">Standard ERP Financials, Human Capital, and Supply Chain Modules</textarea>
	<br>
	<textarea class="wide_input short">Centralized Real-Time Database for All Modules</textarea>

	<br>
	<br>
	<br>
	<hr>
	<br>
	<br>

	<h3>Specialization Areas:</h3>
	<br>
	<textarea class="wide_input short">Native Content Management System</textarea>
	<br>
	<textarea class="wide_input short">Native Business Intelligence System</textarea>
	<br>
	<textarea class="wide_input short">Web Mobile Site for All User/Staff Capabilities</textarea>
	<br>
	<textarea class="wide_input short">International Presence</textarea>
</div>

<div class="screening">
	<h2><em>Seller XYZ</em></h2>
	<br>
	<h3>Core Competencies:</h3>
	<br>
	<textarea class="wide_input short">Market Leader in SaaS Social Marketing Software</textarea>
	<br>
	<textarea class="wide_input short">Standard Viral Networking Engine</textarea>
	<br>
	<textarea class="wide_input short">Standard Links to Public Social Media Outlets</textarea>
	<br>
	<textarea class="wide_input short">Standard Internet Usage Metric</textarea>

	<br>
	<br>
	<br>
	<hr>
	<br>
	<br>

	<h3>Specialization Areas:</h3>
	<br>
	<textarea class="wide_input short">Ambassador Program Intellectual Property</textarea>
	<br>
	<textarea class="wide_input short">Productized Bridge for Buyer’s Enterprise Software Platform</textarea>
	<br>
	<textarea class="wide_input short">Integrated Solution with Buyer’s Enterprise Software Platform and Third-Party Social Networking &amp; Email Marketing Software</textarea></input>
	<br>
	<textarea class="wide_input short">100+ Joint Customers with Buyer</textarea>
</div>


<div class="modal">
    <p>If the business profiles are compatible, then please proceed to the "Next Step" button below. If not, then please click the "End Session" button.</p>
</div>