<h3>Screening - <em>What are the Sellers core competencies? What does the Seller specialize in?</em></h3>
<div style="margin-left:40px">
	<strong><%= label_tag 'Core Competencies:' %></strong>
	<p>Advertising Management Software</p>
	<p>Media Industry</p>
	<strong><%= label_tag 'Specialization Area:' %></strong>
	<p>Only Module in NFP Space with Functionality</p>
	<p>iMIS Bridge</p>
	<p>50+ iMIS Customers</p>
</div>