<label>Existing Transactions (in MAST)</label>
<div class="wrapper_dropdown">
	<select>
	  <option selected=true value="transaction_01">Transaction 01</option>
	  <option value="transaction_02">Transaction 02</option>
	</select>
</div>

<table class="horizontal_minimal center" summary="ABC Deal Team Members">
	<thread>
		<tr>
			<th scope="col">ABC Deal Team Member</th>
			<th scope="col">Position</th>
			<th scope="col">Role</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td><input type="text" value="Individual 1"></input></p></td>
			<td><input type="text" value="ABC Dir Corp Dev"></input></p></td>
			<td><input type="text" value="Deal Lead"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 2"></input></p></td>
			<td><input type="text" value="ABC CEO"></input></p></td>
			<td><input type="text" value="Final Approval"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 3"></input></p></td>
			<td><input type="text" value="ABC CFO"></input></p></td>
			<td><input type="text" value="Financials"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 4"></input></p></td>
			<td><input type="text" value="ABC General Counsel"></input></p></td>
			<td><input type="text" value="Agreements"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 5"></input></p></td>
			<td><input type="text" value="DLA Piper Attorney"></input></p></td>
			<td><input type="text" value="Legal Advice"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 6"></input></p></td>
			<td><input type="text" value="Signal Hill Advisor"></input></p></td>
			<td><input type="text" value="Market Advice"></input></p></td>
		</tr>
	</tbody>
</table>

<br>
<hr>
<br>

<table class="horizontal_minimal center" summary="XYZ Deal Team Members">
	<thread>
		<tr>
			<th scope="col">XYZ Deal Team Member</th>
			<th scope="col">Position</th>
			<th scope="col">Role</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td><input type="text" value="Individual 7"></input></p></td>
			<td><input type="text" value="XYZ Dir Corp Dev"></input></p></td>
			<td><input type="text" value="Deal Lead"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 8"></input></p></td>
			<td><input type="text" value="XYZ CEO"></input></p></td>
			<td><input type="text" value="Final Approval"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 9"></input></p></td>
			<td><input type="text" value="XYZ CFO"></input></p></td>
			<td><input type="text" value="Financials"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 10"></input></p></td>
			<td><input type="text" value="XYZ General Counsel"></input></p></td>
			<td><input type="text" value="Agreements"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 11"></input></p></td>
			<td><input type="text" value="XYZ Attorney"></input></p></td>
			<td><input type="text" value="Legal Advice"></input></p></td>
		</tr>
		<tr>
			<td><input type="text" value="Individual 12"></input></p></td>
			<td><input type="text" value="DEF M&amp;A Advisor"></input></p></td>
			<td><input type="text" value="Market Advice"></input></p></td>
		</tr>
	</tbody>
</table>

<br>
<hr>
<br>

<a href="/demo/transaction-analysis" class="button arrow_right"><span class="button_content">Begin Transaction</span><span class="button_icon"></span></a>