<h3>Existing Transactions (in <em>MAST</em>&trade;)</h3>
<div id="team_select" class="wrapper_dropdown">
	<select onchange="diliver.toggleTransaction(this)">
	  <option selected=true value="transaction_new">-Select a Transaction-</option>
	  <option value="transaction_01">Transaction 1 Deal Team Members: Buyer = Buyer ABC &amp; Seller = Seller XYZ</option>
	  <option value="transaction_02">Transaction 2 Deal Team Members: Buyer = Buyer DEF &amp; Seller = Seller UVW</option>
	</select>
</div>

<div id="transaction_new" class="transaction">
	<h2><u><em>Buyer ABC</em></u></h2>
	<table class="horizontal_minimal center" summary="Buyer ABC Individuals">
		<thread>
			<tr>
				<th scope="col" width="34%"><em>Buyer ABC</em> Individuals</th>
				<th scope="col" width="33%">Position</th>
				<th scope="col" width="33%">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<br>

	<h2><em>Seller XYZ</em></h2>
	<table class="horizontal_minimal center" summary="Seller XYZ Individuals">
		<thread>
			<tr>
				<th scope="col" width="34%"><em>Seller XYZ</em> Individuals</th>
				<th scope="col" width="33%">Position</th>
				<th scope="col" width="33%">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="transaction_01" class="transaction hide">
	<h2><em>Buyer ABC</em></h2>
	<table class="horizontal_minimal center" summary="Buyer ABC Individuals">
		<thread>
			<tr>
				<th scope="col" width="34%"><em>Buyer ABC</em> Individuals</th>
				<th scope="col" width="33%">Position</th>
				<th scope="col" width="33%">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 1"></input></p></td>
				<td><input type="text" value="Buyer ABC Director of Corporate Development"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 2"></input></p></td>
				<td><input type="text" value="Buyer ABC CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 3"></input></p></td>
				<td><input type="text" value="Buyer ABC CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 4"></input></p></td>
				<td><input type="text" value="Buyer ABC General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 5"></input></p></td>
				<td><input type="text" value="Buyer ABC Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 6"></input></p></td>
				<td><input type="text" value="Buyer ABC M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<br>

	<h2><em>Seller XYZ</em></h2>
	<table class="horizontal_minimal center" summary="Seller XYZ Individuals">
		<thread>
			<tr>
				<th scope="col" width="34%"><em>Seller XYZ</em> Individuals</th>
				<th scope="col" width="33%">Position</th>
				<th scope="col" width="33%">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 7"></input></p></td>
				<td><input type="text" value="Seller XYZ Director of Corporate Development"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 8"></input></p></td>
				<td><input type="text" value="Seller XYZ CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 9"></input></p></td>
				<td><input type="text" value="Seller XYZ CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 10"></input></p></td>
				<td><input type="text" value="Seller XYZ General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 11"></input></p></td>
				<td><input type="text" value="Seller XYZ Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 12"></input></p></td>
				<td><input type="text" value="Seller XYZ M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="transaction_02" class="transaction hide">
	<h2><em>Buyer DEF</em></h2>
	<table class="horizontal_minimal center" summary="Buyer DEF Individuals">
		<thread>
			<tr>
				<th scope="col" width="34%"><em>Buyer DEF</em> Individuals</th>
				<th scope="col" width="33%">Position</th>
				<th scope="col" width="33%">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 1"></input></p></td>
				<td><input type="text" value="Buyer DEF Director of Corporate Development"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 2"></input></p></td>
				<td><input type="text" value="Buyer DEF CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 3"></input></p></td>
				<td><input type="text" value="Buyer DEF CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 4"></input></p></td>
				<td><input type="text" value="Buyer DEF General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 5"></input></p></td>
				<td><input type="text" value="Buyer DEF Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 6"></input></p></td>
				<td><input type="text" value="Buyer DEF M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<br>

	<h2><em>Seller UVW</em></h2>
	<table class="horizontal_minimal center" summary="Seller UVW Individuals">
		<thread>
			<tr>
				<th scope="col" width="34%"><em>Seller UVW</em> Individuals</th>
				<th scope="col" width="33%">Position</th>
				<th scope="col" width="33%">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 7"></input></p></td>
				<td><input type="text" value="Seller UVW Director of Corporate Development"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 8"></input></p></td>
				<td><input type="text" value="Seller UVW CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 9"></input></p></td>
				<td><input type="text" value="Seller UVW CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 10"></input></p></td>
				<td><input type="text" value="Seller UVW General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 11"></input></p></td>
				<td><input type="text" value="Seller UVW Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 12"></input></p></td>
				<td><input type="text" value="Seller UVW M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<br>