<%= label_tag 'Existing Transactions (in MAST)' %>
<div class="wrapper_dropdown">
	<select>
	  <option selected=true value="transaction_01">Transaction 01</option>
	  <option value="transaction_02">Transaction 02</option>
	</select>
</div>
<a href="/demo/transaction-analysis" class="button arrow_right"><span class="button_content">Begin Transaction</span><span class="button_icon"></span></a>