<label>Existing Transactions (in MAST)</label>
<div class="wrapper_dropdown">
	<select onchange="diliver.toggleTransaction(this)">
	  <option selected=true value="transaction_new">-Select a Transaction-</option>
	  <option value="transaction_01">Transaction 01</option>
	  <option value="transaction_02">Transaction 02</option>
	</select>
</div>

<div id="transaction_new" class="transaction">
	<table class="horizontal_minimal center" summary="ABC Deal Team Members">
		<thread>
			<tr>
				<th scope="col">ABC Deal Team Member</th>
				<th scope="col">Position</th>
				<th scope="col">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<br>

	<table class="horizontal_minimal center" summary="XYZ Deal Team Members">
		<thread>
			<tr>
				<th scope="col">XYZ Deal Team Member</th>
				<th scope="col">Position</th>
				<th scope="col">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
				<td><input type="text" value=""></input></p></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="transaction_01" class="transaction hide">
	<table class="horizontal_minimal center" summary="Buyer ABC Individuals">
		<thread>
			<tr>
				<th scope="col">Buyer ABC Individuals</th>
				<th scope="col">Position</th>
				<th scope="col">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 1"></input></p></td>
				<td><input type="text" value="ABC Dir Corp Dev"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 2"></input></p></td>
				<td><input type="text" value="ABC CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 3"></input></p></td>
				<td><input type="text" value="ABC CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 4"></input></p></td>
				<td><input type="text" value="ABC General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 5"></input></p></td>
				<td><input type="text" value="ABC Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 6"></input></p></td>
				<td><input type="text" value="ABC M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<br>

	<table class="horizontal_minimal center" summary="Seller XYZ Individuals">
		<thread>
			<tr>
				<th scope="col">Seller XYZ Individuals</th>
				<th scope="col">Position</th>
				<th scope="col">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 7"></input></p></td>
				<td><input type="text" value="XYZ Dir Corp Dev"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 8"></input></p></td>
				<td><input type="text" value="XYZ CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 9"></input></p></td>
				<td><input type="text" value="XYZ CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 10"></input></p></td>
				<td><input type="text" value="XYZ General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 11"></input></p></td>
				<td><input type="text" value="XYZ Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 12"></input></p></td>
				<td><input type="text" value="XYZ M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="transaction_02" class="transaction hide">
	<table class="horizontal_minimal center" summary="Buyer ABC Individuals">
		<thread>
			<tr>
				<th scope="col">Buyer ABC Individuals</th>
				<th scope="col">Position</th>
				<th scope="col">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 1"></input></p></td>
				<td><input type="text" value="ABC Dir Corp Dev"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 2"></input></p></td>
				<td><input type="text" value="ABC CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 3"></input></p></td>
				<td><input type="text" value="ABC CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 4"></input></p></td>
				<td><input type="text" value="ABC General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 5"></input></p></td>
				<td><input type="text" value="ABC Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 6"></input></p></td>
				<td><input type="text" value="ABC M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<hr>
	<br>

	<table class="horizontal_minimal center" summary="Seller XYZ Individuals">
		<thread>
			<tr>
				<th scope="col">Seller XYZ Individuals</th>
				<th scope="col">Position</th>
				<th scope="col">Role</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td><input type="text" value="Individual 7"></input></p></td>
				<td><input type="text" value="XYZ Dir Corp Dev"></input></p></td>
				<td><input type="text" value="Deal Lead"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 8"></input></p></td>
				<td><input type="text" value="XYZ CEO"></input></p></td>
				<td><input type="text" value="Final Approval"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 9"></input></p></td>
				<td><input type="text" value="XYZ CFO"></input></p></td>
				<td><input type="text" value="Financials"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 10"></input></p></td>
				<td><input type="text" value="XYZ General Counsel"></input></p></td>
				<td><input type="text" value="Agreements"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 11"></input></p></td>
				<td><input type="text" value="XYZ Outside Attorney"></input></p></td>
				<td><input type="text" value="Legal Advice"></input></p></td>
			</tr>
			<tr>
				<td><input type="text" value="Individual 12"></input></p></td>
				<td><input type="text" value="XYZ M&amp;A Advisor"></input></p></td>
				<td><input type="text" value="Market Advice"></input></p></td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<br>