<h3>Transaction Analysis - <em>What is the Buyers Enterprise Focus? What is the reason/purpose for the transaction?</em></h3>
<div style="margin-left:40px">
	<strong><%= label_tag 'Enterprise Focus:' %></strong>
	<p>IT Entity - Application Software Products</p>
	<p>ABC is the market leading enterprise software company in the not-for-profit (NFP) sector.</p>
	<strong><%= label_tag 'Transaction Purpose:' %></strong>
	<p>Strategic-Acquisition</p>
	<p>ABC is looking to increase it's inorganic growth by acquiring complementary third-party software companies.</p>
</div>