<div class="transaction_analysis">
    <h2>Buyer ABC</h2>
    <br>
    <br>
    <h3>Enterprise Focus</h3>
    <h4>Primary Industry</h4>
    <div class="wrapper_dropdown">
        <select>
            <option value="01">Energy</option>
            <option value="02">Healthcare</option>
            <option selected=true value="03">Information Technology</option>
        </select>
    </div>

    <h4>Sub-Industry</h4>
    <div class="wrapper_dropdown">
      <select>
        <option value="01">Product Company/Hardware</option>
        <option value="02">Product Company/System Software</option>
        <option selected=true value="03">Product Company/Application Software</option>
        <option value="04">Product Company/Variety of Products</option>
        <option value="05">Service Company/Business Analysis</option>
        <option value="06">Service Company/Network &amp; System Integration</option>
        <option value="07">Service Company/Custom Development</option>
        <option value="08">Service Company/Variety of Services</option>
        <option value="09">Hybrid Solutions Company</option>
      </select>
    </div>

    <h4>Domain</h4>
    <div class="wrapper_dropdown">
      <select>
        <option selected=true value="01">Enterprise Software Platforms</option>
        <option value="02">Add-On Applications</option>
        <option value="03">Biomedical Nano Technology</option>
        <option value="04">Healthcare Informatics</option>
        <option value="05">Clean Energy Technology</option>
        <option value="06">Energy Control Systems</option>
      </select>
    </div>

    <br>

    <h3>Transaction Purpose:</h3>
    <div class="wrapper_dropdown">
        <select>
            <option value="01">Financial-Start-Up/Seed Funding</option>
            <option value="02">Financial-Early Stage/Mezzanine Funding</option>
            <option value="03">Financial-Late Stage/Growth Funding</option>
            <option value="04">Financial-Initial Public Offering (IPO)</option>
            <option selected=true value="05">Strategic-Acquisition</option>
            <option value="06">Strategic-Merger</option>
            <option value="07">Strategic-Divestiture</option>
        </select>
    </div>

    <br>

    <h3>Investment Thesis Statement</h3>
    <textarea class="wide_input">Buyer ABC is a market leading enterprise software platform company and is looking to increase its inorganic growth by acquiring complementary third-party add-on software companies.</textarea>
</div>

<div class="transaction_analysis">
    <h2>Seller XYZ</h2>
    <br>
    <br>
    <h3>Enterprise Focus </h3>
    <h4>Primary Industry</h4>
    <div class="wrapper_dropdown">
        <select>
            <option value="01">Energy</option>
            <option value="02">Healthcare</option>
            <option selected=true value="03">Information Technology</option>
        </select>
    </div>

    <h4>Sub-Industry</h4>
    <div class="wrapper_dropdown">
      <select>
        <option value="01">Product Company/Hardware</option>
        <option value="02">Product Company/System Software</option>
        <option selected=true value="03">Product Company/Application Software</option>
        <option value="04">Product Company/Variety of Products</option>
        <option value="05">Service Company/Business Analysis</option>
        <option value="06">Service Company/Network &amp; System Integration</option>
        <option value="07">Service Company/Custom Development</option>
        <option value="08">Service Company/Variety of Services</option>
        <option value="09">Hybrid Solutions Company</option>
      </select>
    </div>

    <h4>Domain</h4>
    <div class="wrapper_dropdown">
      <select>
        <option value="01">Enterprise Software Platforms</option>
        <option selected=true value="02">Add-On Applications</option>
        <option value="03">Biomedical Nano Technology</option>
        <option value="04">Healthcare Informatics</option>
        <option value="05">Clean Energy Technology</option>
        <option value="06">Energy Control Systems</option>
      </select>
    </div>

    <br>

    <h3>Transaction Purpose:</h3>
    <div class="wrapper_dropdown">
        <select>
            <option value="01">Financial-Start-Up/Seed Funding</option>
            <option value="02">Financial-Early Stage/Mezzanine Funding</option>
            <option value="03">Financial-Late Stage/Growth Funding</option>
            <option value="04">Financial-Initial Public Offering (IPO)</option>
            <option selected=true value="05">Strategic-Acquisition</option>
            <option value="06">Strategic-Merger</option>
            <option value="07">Strategic-Divestiture</option>
        </select>
    </div>

    <br>

    <h3>Ownership Thesis Statement</h3>
    <textarea class="wide_input">Seller XYZ is a market leading add-on software product company that has plateaued in the market and wants to focus on one platform company with the resources to invest in extending its product so it can grow again.</textarea>
</div>

<div class="modal">
    <p>If the thesis statements are compatible, then please proceed to the next step by clicking the button below.</p>
</div>