<div id="var" class="scorecard">	
	<h3>Valuation Adjustment Range</h3>
	<table class="horizontal_minimal center" summary="Valuation Adjustment Range">
		<thread>
			<tr>
				<th scope="col">Buyer Appraisal Categories</th>
				<th scope="col">Category Score</th>
				<th scope="col">Category Grade</th>
				<th scope="col">Category Weight</th>
				<th scope="col">Baseline Valuation</th>
				<th scope="col">Min Qual/Risk Adjust</th>
				<th scope="col">Max Qual/Risk Adjust</th>
				<th scope="col">Min Valuation</th>
				<th scope="col">Max Valuation</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Human Resources (Staff)</td>
				<td>85.25</td>
				<td>B</td>
				<td>10%</td>
				<td>$100,000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$105,000</td>
				<td>$110,000</td>
			</tr>
			<tr>
				<td>Machine Resources (Tools)</td>
				<td>88.50</td>
				<td>B</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$52,500</td>
				<td>$55,000</td>
			</tr>
			<tr>
				<td>Information Resources (Knowlege Base)</td>
				<td>77.75</td>
				<td>C</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>-%10</td>
				<td>-%5</td>
				<td>$45,000</td>
				<td>$47,500</td>
			</tr>
			<tr>
				<td>Financial Resources (Capital)</td>
				<td>93.00</td>
				<td>A</td>
				<td>10%</td>
				<td>$100,000</td>
				<td>10%</td>
				<td>20%</td>
				<td>$110,000</td>
				<td>$120,000</td>
			</tr>
			<tr>
				<td>Intellectual Property Resources (Proprietary Inventions)</td>
				<td>88.25</td>
				<td>B</td>
				<td>10%</td>
				<td>$100,000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$105,000</td>
				<td>$110,000</td>
			</tr>
			<tr>
				<td>Facility Resources (Sites)</td>
				<td>90.00</td>
				<td>A</td>
				<td>5%</td>
				<td>50,000</td>
				<td>10%</td>
				<td>20%</td>
				<td>$55,000</td>
				<td>$60,000</td>
			</tr>
			<tr><td colspan="9"><strong>Subtotals</strong></td></tr>
			<tr>
				<td>Board of Directors &amp; Advisors Interface (Governance)</td>
				<td>59.25</td>
				<td>D</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>-20%</td>
				<td>-10%</td>
				<td>$40,000</td>
				<td>$45,000</td>
			</tr>
			<tr>
				<td>Shareholders Interface (ROI)</td>
				<td>85.00</td>
				<td>B</td>
				<td>5%</td>
				<td>$50.000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$52,500</td>
				<td>$55,000</td>
			</tr>
			<tr>
				<td>Legal &amp; Regulatory Authorities Interface (Compliance)</td>
				<td>89.00</td>
				<td>B</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$52,500</td>
				<td>$55,000</td>
			</tr>
			<tr>
				<td>Supply Chain Interface (Raw Materials)</td>
				<td>92.00</td>
				<td>A</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>10%</td>
				<td>20%</td>
				<td>$55,000</td>
				<td>$60,000</td>
			</tr>
			<tr>
				<td>Competitors Interface (Threats)</td>
				<td>85.00</td>
				<td>B</td>
				<td>10%</td>
				<td>$100,000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$105,000</td>
				<td>$110,000</td>
			</tr>
			<tr>
				<td>Prospects Interface (Opportunities)</td>
				<td>87.50</td>
				<td>B</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>5%</td>
				<td>10%</td>
				<td>$52,500</td>
				<td>$55,000</td>
			</tr>
			<tr>
				<td>Channel Interface (Third-Party Add-Ons)</td>
				<td>93.00</td>
				<td>A</td>
				<td>5%</td>
				<td>$50,000</td>
				<td>10%</td>
				<td>20%</td>
				<td>$55,000</td>
				<td>$60,000</td>
			</tr>
			<tr>
				<td>Customers Interface (Solutions)</td>
				<td>91.00</td>
				<td>A</td>
				<td>15%</td>
				<td>$150,000</td>
				<td>10%</td>
				<td>20%</td>
				<td>$165,000</td>
				<td>$180,000</td>
			</tr>
			<tr><td colspan="9"><strong>Subtotals</strong></td></tr>
			<tr><td colspan="9"><strong>Total</strong></td></tr>
		</tbody>
	</table>
</div>