<div id="var" class="scorecard">	
	<h3>Valuation Adjustment Range</h3>
	<table class="horizontal_minimal center" summary="Valuation Adjustment Range">
		<thread>
			<tr>
				<th scope="col">Buyer Appraisal Categories (to Measure Seller XYZ)</th>
				<th scope="col" class="center_justify">Category Score</th>
				<th scope="col" class="center_justify">Category Grade</th>
				<th scope="col" class="right_justify">Category Weight</th>
				<th scope="col" class="center_justify">Weighted Category Score</th>
				<th scope="col" class="right_justify">Baseline Valuation</th>
				<th scope="col" class="right_justify">MIN Qual/Risk Adjustment</th>
				<th scope="col" class="right_justify">MAX Qual/Risk Adjustment</th>
				<th scope="col" class="right_justify">MIN Valuation</th>
				<th scope="col" class="right_justify">MAX Valuation</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td class="no_border"><strong><em>Internal Resources:</em></strong></td>
				<td class="no_border" colspan="9"></td>
			</tr>
			<tr>
				<td>1) Human Resources</td>
				<td class="center_justify">91.00</td>
				<td class="center_justify">A</td>
				<td class="right_justify">10%</td>
				<td class="center_justify">9.10</td>
				<td class="right_justify">$100,000</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">$110,000</td>
				<td class="right_justify">$120,000</td>
			</tr>
			<tr>
				<td>2) Machine Resources</td>
				<td class="center_justify">86.50</td>
				<td class="center_justify">B</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.33</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">5%</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">$52,500</td>
				<td class="right_justify">$55,000</td>
			</tr>
			<tr>
				<td>3) Information Resources</td>
				<td class="center_justify">72.00</td>
				<td class="center_justify">C</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">3.60</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">-10%</td>
				<td class="right_justify">-5%</td>
				<td class="right_justify">$45,000</td>
				<td class="right_justify">$47,500</td>
			</tr>
			<tr>
				<td>4) Financial Resources</td>
				<td class="center_justify">88.50</td>
				<td class="center_justify">B</td>
				<td class="right_justify">10%</td>
				<td class="center_justify">8.85</td>
				<td class="right_justify">$100,000</td>
				<td class="right_justify">5%</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">$105,000</td>
				<td class="right_justify">$110,000</td>
			</tr>
			<tr>
				<td>5) Intellectual Property Resources</td>
				<td class="center_justify">79.00</td>
				<td class="center_justify">C</td>
				<td class="right_justify">10%</td>
				<td class="center_justify">7.90</td>
				<td class="right_justify">$100,000</td>
				<td class="right_justify">-10%</td>
				<td class="right_justify">-5%</td>
				<td class="right_justify">$90,000</td>
				<td class="right_justify">$95,000</td>
			</tr>
			<tr>
				<td>6) Facility Resources</td>
				<td class="center_justify">90.00</td>
				<td class="center_justify">A</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.50</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">$55,000</td>
				<td class="right_justify">$60,000</td>
			</tr>
			<tr>
				<td><strong>Subtotal</strong></td>
				<td colspan="2"></td>
				<td class="right_justify"><strong>45%</strong></td>
				<td class="center_justify"><strong>38.28</strong></td>
				<td class="right_justify"><strong>$450,000</strong></td>
				<td colspan="2"></td>
				<td class="right_justify"><strong>$457,500</strong></td>
				<td class="right_justify"><strong>$487,500</strong></td>
			</tr>
			<tr>
				<td class="no_border"><strong><em>External Entity Interfaces:</em></strong></td>
				<td class="no_border" colspan="9"></td>
			</tr>
			<tr>
				<td>7) Board Interface</td>
				<td class="center_justify">82.50</td>
				<td class="center_justify">B</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.13</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">5%</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">$52,500</td>
				<td class="right_justify">$55,000</td>
			</tr>
			<tr>
				<td>8) Shareholders Interface</td>
				<td class="center_justify">76.50</td>
				<td class="center_justify">C</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">3.83</td>
				<td class="right_justify">$50.000</td>
				<td class="right_justify">-10%</td>
				<td class="right_justify">-20%</td>
				<td class="right_justify">$45,000</td>
				<td class="right_justify">$47,500</td>
			</tr>
			<tr>
				<td>9) Authorities Interface</td>
				<td class="center_justify">97.50</td>
				<td class="center_justify">B</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.38</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">5%</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">$52,500</td>
				<td class="right_justify">$55,000</td>
			</tr>
			<tr>
				<td>10) Supply Chain Interface</td>
				<td class="center_justify">86.50</td>
				<td class="center_justify">B</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.33</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">5%</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">$52,500</td>
				<td class="right_justify">$55,000</td>
			</tr>
			<tr>
				<td>11) Competitors Interface</td>
				<td class="center_justify">92.50</td>
				<td class="center_justify">A</td>
				<td class="right_justify">10%</td>
				<td class="center_justify">9.25</td>
				<td class="right_justify">$100,000</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">$110,000</td>
				<td class="right_justify">$120,000</td>
			</tr>
			<tr>
				<td>12) Prospects Interface</td>
				<td class="center_justify">83.00</td>
				<td class="center_justify">B</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.15</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">5%</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">$52,500</td>
				<td class="right_justify">$55,000</td>
			</tr>
			<tr>
				<td>13) Channel Interface</td>
				<td class="center_justify">90.50</td>
				<td class="center_justify">A</td>
				<td class="right_justify">5%</td>
				<td class="center_justify">4.53</td>
				<td class="right_justify">$50,000</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">$55,000</td>
				<td class="right_justify">$60,000</td>
			</tr>
			<tr>
				<td>14) Customers Interface</td>
				<td class="center_justify">92.50</td>
				<td class="center_justify">A</td>
				<td class="right_justify">15%</td>
				<td class="center_justify">13.88</td>
				<td class="right_justify">$150,000</td>
				<td class="right_justify">10%</td>
				<td class="right_justify">20%</td>
				<td class="right_justify">$165,000</td>
				<td class="right_justify">$180,000</td>
			</tr>
			<tr>
				<td><strong>Subtotal</strong></td>
				<td colspan="2"></td>
				<td class="right_justify"><strong>55%</strong></td>
				<td class="center_justify"><strong>48.45</strong></td>
				<td class="right_justify"><strong>$550,000</strong></td>
				<td colspan="2"></td>
				<td class="right_justify"><strong>$585,000</strong></td>
				<td class="right_justify"><strong>$627,500</strong></td>
			</tr>
			<tr>
				<td><strong>Total</strong></td>
				<td colspan="4"></td>
				<td class="right_justify"><strong>$1,000,000</strong></td>
				<td colspan="2"></td>
				<td class="right_justify"><strong>$1,042,500</strong></td>
				<td class="right_justify"><strong>$1,115,500</strong></td>
			</tr>
		</tbody>
	</table>
</div>