*, body
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: "Trebuchet MS", helvetica, sans-serif;
	font-size: 14px;
	height:200px;
	z-index: -10000;
	background: rgb(216,216,216); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(216,216,216,1) 0%, rgba(255,255,255,1) 100%) no-repeat; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(100%,rgba(255,255,255,1))) no-repeat; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%) no-repeat; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%) no-repeat; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%) no-repeat; /* IE10+ */
	background: linear-gradient(to bottom,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 100%) no-repeat; /* W3C */
	
	input[type=checkbox]
	{
		visibility: hidden;
	}

	div.wrapper_dropdown
	{
		overflow: hidden;
		padding: 0px;
		margin: 5px;
		width: 12em;

		background: #fff;
		border-radius: 7px;
		border: 1px solid rgba(0,0,0,0.15);
		box-shadow: 0 1px 1px rgba(50,50,50,0.1);
		cursor: pointer;
		outline: none;

		select
		{
			width: 115%;
			background-color: transparent;
			background-image: none;
			-webkit-appearance: none;
			border: none;
			box-shadow: none;
			padding: 0.3em 0.5em;
			cursor: pointer;
		}
	}

	div.slideThree
	{
		width: 80px;
		height: 26px;
		background: #333;
		margin: 20px auto;

		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		position: relative;

		-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

		label
		{
			display: block;
			width: 34px;
			height: 20px;

			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			border-radius: 50px;

			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;
			cursor: pointer;
			position: absolute;
			top: 3px;
			left: 3px;
			z-index: 1;

			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
			background: #fcfff4;

			background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
			background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
			background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
			background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
			background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
		}

		input[type=checkbox]:checked + label
		{
			left: 43px;
		}
	}

	div.slideThree:after
	{
		content: 'OFF';
		font: 12px/26px Arial, sans-serif;
		color: #000;
		position: absolute;
		right: 10px;
		z-index: 0;
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255,255,255,.15);
	}

	div.slideThree:before
	{
		content: 'ON';
		font: 12px/26px Arial, sans-serif;
		color: #00bf00;
		position: absolute;
		left: 10px;
		z-index: 0;
		font-weight: bold;
	}

	div.squaredThree
	{
		width: 20px;	
		margin: 5px auto;
		position: relative;

		label
		{
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 0;
			border-radius: 5px;

			-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.3);
			-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.3);
			box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.3);

			background: -webkit-linear-gradient(top, #2F2F2F 0%, #6599cb 100%);
			background: -moz-linear-gradient(top, #2F2F2F 0%, #6599cb 100%);
			background: -o-linear-gradient(top, #2F2F2F 0%, #6599cb 100%);
			background: -ms-linear-gradient(top, #2F2F2F 0%, #6599cb 100%);
			background: linear-gradient(top, #2F2F2F 0%, #6599cb 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F2F2F', endColorstr='#6599cb',GradientType=0 );
		}

		label:after
		{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 0;
			content: '';
			position: absolute;
			width: 9px;
			height: 5px;
			background: transparent;
			top: 4px;
			left: 4px;
			border: 3px solid #fcfff4;
			border-top: none;
			border-right: none;

			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		label:hover::after
		{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			filter: alpha(opacity=30);
			opacity: 0.3;
		}

		input[type=checkbox]:checked + label:after
		{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}
	}

	hr
	{
		border: 0;
		height: 1px;
		background: #333;
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(141,141,141,1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(141,141,141,1) 50%, rgba(255,255,255,0) 100%);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(141,141,141,1) 50%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(141,141,141,1) 50%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(141,141,141,1) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(141,141,141,1) 50%, rgba(255,255,255,0) 100%);
	}

	a
	{
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		-o-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		transition: 0.3s ease;
		color: #6599cb;
		text-decoration: none;
	}

	a:hover
	{
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		-o-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		transition: 0.3s ease;
		color: #1b3764;
	}

	a.arrow_down span.button_icon
	{
		padding-left: 19px;
		padding-top: -1px;
		padding-bottom: 1px;
		background: url(/images/arrow-down.png) no-repeat;
		background-position: center center;
	}

	a.arrow_left span.button_icon
	{
		padding-left: 19px;
		padding-top: 1px;
		padding-bottom: 1px;
		background: url(/images/arrow-left.png) no-repeat;
		background-position: center center;
	}

	a.arrow_right span.button_icon
	{
		padding-left: 19px;
		padding-top: 1px;
		padding-bottom: 1px;
		background: url(/images/arrow-right.png) no-repeat;
		background-position: center center;
	}

	a.arrow_up span.button_icon
	{
		padding-left: 19px;
		padding-top: 1px;
		padding-bottom: 1px;
		background: url(/images/arrow-up.png) no-repeat;
		background-position: center center;
	}

	a.gear span.button_icon
	{
		padding-left: 19px;
		padding-top: 1px;
		padding-bottom: 1px;
		background: url(/images/gear.png) no-repeat;
		background-position: center center;
	}

	a.button span.button_content
	{
		font-size: 14px;
		margin: 0px 10px;
	}

	a.button
	{
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c0d5ea) );
		background:-moz-linear-gradient( center top, #ffffff 5%, #c0d5ea 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c0d5ea');
		background-color:#ffffff;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #727272;
		display:inline-block;
		color:#181818;
		font-size:12px;
		padding: 3px 3px;
		text-decoration:none;
		margin: 0px 5px;
	}

	a.button:hover
	{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c0d5ea), color-stop(1, #ffffff) );
		background:-moz-linear-gradient( center top, #c0d5ea 5%, #ffffff 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0d5ea', endColorstr='#ffffff');
		background-color:#c0d5ea;
	}

	a.button:active
	{
		position:relative;
		top: 3px;
	}

	a.left
	{
		float: left;
	}

	a.right
	{
		float: right;
	}

	div.header
	{
		img
		{
			padding: 10px;
		}

		div.user_info
		{
			float: right;
			padding-right: 10px;
			padding-top: 30px;

			div.user_name
			{
				text-align: right;
				margin-right: 15px;
			}


			div.user_title
			{
				text-align: right;
				font-size: 12px;
				font-style: italic;
				position: relative;
				right: 74px;
			}
		}
	}

	div.toolbar
	{
		height: 31px;
		width: 100%;
		background: #6599cb;
		-moz-box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
		-webkit-box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
		box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=315, Color='#000000')";/* For IE 8 */

		a
		{
			position: relative;
			top: 2px;
		}

		div.toolbar_contents
		{
			margin-left: 10px;
		}
	}

	div.nav_container
	{
		margin: 0 auto;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;

		a
		{
			color: #1b3764;
		}

		a:hover
		{
			color: #6599cb;
		}

		a.nav_active
		{
			color: #6599cb;
		}

		a.nav_active:hover
		{
			color: #1b3764;
		}

		a img
		{
			padding-left: 20px;
			padding-top: 1px;
			padding-bottom: 1px;
			position: relative;
			top: 2px;
			right: 2px;

			-webkit-transition: opacity 0.5s ease;
			-moz-transition: opacity 0.5s ease;
			-o-transition: opacity 0.5s ease;
			-ms-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease;
		}

		a:hover img
		{
			-webkit-transition: opacity 0.5s ease;
			-moz-transition: opacity 0.5s ease;
			-o-transition: opacity 0.5s ease;
			-ms-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease;

			-khtml-opacity: 0.50; 
			-moz-opacity: 0.50; 
			-ms-filter: "alpha(opacity=50)";
			filter: alpha(opacity=50);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
			opacity: 0.50; 
		}

		ul
		{
			text-decoration: none;
			list-style: none;
			margin: 0;
			text-align: center;

			li
			{
				padding: 12px;
				display: inline;
			}
		}
	}

	div.content
	{
		width: 86%;
		padding-top: 15px;
		padding-bottom: 108px; /* footer height + footer_toolbar half-height + required padding */
		margin: 0 auto;
	}

	div.footer
	{
		height: 80px;
		position: fixed;
		width: 100%;
		bottom: 0;
		background: #1b3764;
		z-index: 1000;

		div.copyright
		{
			color: #FFFFFF;
			position: absolute;
			top: 50%;
			height: 1em;
			margin-top: 0px;
			left: 0;
			right: 0;
			text-align: center;
		}

		div.footer_toolbar
		{
			height: 31px;
			position: absolute;
			width: 93%;
			top: -12px;
			right: 0px;
			background: #6599cb;
			border-bottom: 1px solid #FFFFFF;
			z-index: 1001;
			-moz-box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
			-webkit-box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
			box-shadow: -3px -3px 4px rgba(0,0,0,0.3);
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=315, Color='#000000')";/* For IE 8 */

			a
			{
				position: relative;
				top: 2px;
			}

			div.footer_toolbar_contents
			{
				margin-right: 10px;

				p
				{
					float: left;
					color: #FFFFFF;
					font-size: 18px;
					position: relative;
					top: 3px;
					left: 30px;
					text-shadow: 0px 0px 3px rgba(0,0,0,0.7);
				}
			}
		}
	}
}