<!DOCTYPE html>
<html>
<head>
  <title>Diliver</title>
  <%#= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>DiliVer Demo</h2>
<hr>
<%= yield %>

<% if @timeline %>

	<p>

		We have a timeline yo!

		<% if @timeline[:buttons] %>
			<% @timeline[:buttons].each do |button| %>
				<a href="javascript:void(0)" class="button">button</a>
			<% end %>
		<% end %>

	</p>

<% end %>

</body>
</html>
